<nav class="flex justify-between items-center px-6 py-4 bg-[#0e0e0e] text-white border-b border-[#222]">
    <div class="flex items-center gap-4">
      <app-logo></app-logo>
      <span class="text-2xl font-bold text-[#e3c9ee]">HIKARUDEV</span>
    </div>
  
    <ul class="hidden md:flex gap-6 text-sm text-2xl font-bold text-[#e3c9ee]">
      <li class="hover:text-white cursor-pointer">Home</li>
      <li class="hover:text-white cursor-pointer">Marketplace</li>
      <li class="hover:text-white cursor-pointer">Sobre</li>
      <li class="hover:text-white cursor-pointer">Contato</li>
    </ul>
</nav>