<app-comercial></app-comercial>

<section id="marketplace" class="px-6 py-10 bg-[#0e0e0e] min-h-screen text-white">

  <!-- Título -->
  <h1 class="text-4xl font-bold text-[#e3c9ee] mb-2 tracking-tight">
    Descubra projetos feitos para encantar
  </h1>
  <p class="text-sm text-[#aaa] mb-6 max-w-xl">
    Selecione uma categoria abaixo e explore soluções criativas que podem transformar seu negócio — ou surpreender alguém especial. ✨
  </p>

  <!-- Filtro -->
  <div class="flex justify-start md:justify-start mb-10">
    <app-categorias (categoriaChange)="filtrarCategoria($event)"></app-categorias>
  </div>

  <!-- Grid de Cards com links -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

    <a *ngIf="verificarCategoria('WhatsApp')" [routerLink]="'/categoria/whatsapp'" class="block">
      <app-whatsapp></app-whatsapp>
    </a>

    <a *ngIf="verificarCategoria('Agenda')" [routerLink]="'/categoria/agendamento'" class="block">
      <app-sistema-agendamento></app-sistema-agendamento>
    </a>

    <a *ngIf="verificarCategoria('Lojas Virtuais')" [routerLink]="'/categoria/lojas'" class="block">
      <app-landing-pages></app-landing-pages>
    </a>

    <a *ngIf="verificarCategoria('Design')" [routerLink]="'/categoria/design'" class="block">
      <app-design></app-design>
    </a>

    <a *ngIf="verificarCategoria('Cardápio Digital')" [routerLink]="'/categoria/cardapio'" class="block">
      <app-cardapio-foods></app-cardapio-foods>
    </a>

    <a *ngIf="verificarCategoria('Linktree')" [routerLink]="'/categoria/link'" class="block">
      <app-linkstree></app-linkstree>
    </a>

    <a *ngIf="verificarCategoria('Bots Telegram')" [routerLink]="'/categoria/bots'" class="block">
      <app-bots-telegram></app-bots-telegram>
    </a>

    <a *ngIf="verificarCategoria('Projetos para o seu amor')" [routerLink]="'/categoria/love'" class="block">
      <app-love></app-love>
    </a>

    <!-- Categoria "Outros" com botão que abre o modal -->
    <div *ngIf="verificarCategoria('Outros')" class="block" (click)="abrirModalIdeias()">
        <app-orcamento></app-orcamento>
    </div>

  </div>

  <app-modal-ideia
    [aberto]="modalIdeiasAberto"
    [categoria]="'Outros'"
    [fechar]="fecharModalIdeias.bind(this)"
    [abrirContato]="abrirModalContato.bind(this)"
  ></app-modal-ideia>


  <!-- Modal de Contato -->
  <app-modal-contato
    [aberto]="modalContatoAberto"
    [fechar]="fecharModalContato.bind(this)"
  ></app-modal-contato>

</section>
