<div class="bg-[#151515] rounded-xl p-4 border border-[#2b2b2b] hover:scale-[1.01] hover:shadow-[0_0_10px_#cf5fff50] transition cursor-pointer flex flex-col justify-between">
  <img
    src="https://i.pinimg.com/736x/a3/ca/4c/a3ca4cfe0bddc73df3aa7854fa2ead25.jpg"
    alt="Design"
    class="w-full h-80 object-cover mb-4 rounded"
  />
  <h2 class="text-lg font-semibold text-white hover:text-[#cf5fff] transition-colors duration-300">
    Design
  </h2>
  <div class="mt-2 h-1 w-24 bg-[#cf5fff] rounded"></div>
</div>